{% extends "base.html" %}

{% block titulo %}Usuarios{% endblock %}

{% block contenido %}
    <h2>Listado de Usuarios</h2>

    <a href="{% url 'nuevo_usuario' %}">Registrar Nuevo Usuario</a>

    <div class="filtro-enlaces">
        <h3>Filtrar Usuarios por Actividad</h3>
        <a href="{% url 'listar_usuarios' %}">Todos</a>
        {% for actividad in actividades_disponibles %}
            <a href="?actividad={{ actividad.id }}">{{ actividad.nombre }}</a>
        {% endfor %}
    </div>


    {% if actividad_filtrada %}
        <p>Mostrando usuarios inscritos en la actividad {{ actividad_filtrada }}</p>
    {% endif %}

    <ul>
        {% for usuario in usuarios %}
            <li>
                <a href="{% url 'detalle_usuario' usuario.id %}">{{ usuario.nombre }}</a>
                - <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>
                - <a href="{% url 'eliminar_usuario' usuario.id %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay usuarios registrados.</li>
        {% endfor %}
    </ul>
{% endblock %}
